body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    margin: 0;
  }
  
.flag {
    width: 300px;
    height:300px;
    border: 1px solid #000
}

.top{
    background-color: white;
    height: 50%;
}

.bottom {
    background: red;
    height:50%;
}